.grid {
	display: grid;
	grid-template-rows: minmax(max-content, 4em) auto max-content;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: "header siteNav"
						 "main main"
						 "footer footer";
	grid-gap: 1em;
}

.grid > * {
	padding: 1em;
}


header {
	grid-area: header;
}

#siteNav {
	grid-area: siteNav;
}

main{
	grid-area: main;
}

footer {
	grid-area: footer;
}

.flexContainer{
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

.flexChild {
	min-width: 300px;
	margin: 0.5em;
}

#searchNav {
	flex: 1;
}

#content {
	flex: 5;
}

#transclusionData {
	flex: 1;
}

#sidebar {
	flex: 1;
}

.toggle {
	flex-grow: 0;
	background-color: grey;
}
.dropCap {
	font-size: 2em;
	float: left;
	line-height: 0.5em;
}

.hidden {
	display: none;
}

.fragment {
	display: block;
	margin: 1em;
	padding: 1em;
}
