<!DOCTYPE html>
<html>
<head>
	<% include common/head %>
</head>
<body class="primaryColor">
	<div class="grid">
		<header class="secondaryColor">
			<h1><span class="dropCap purple">ε</span><span class="smallCaps tertiaryColor">nchiridion</span></h1>
		</header>

		<nav id="siteNav" class="secondaryColor">
			<ul>
				<li>Login</li>
				<li>Help</li>
			</ul>
		</nav>

		<main class="flexContainer">
			<div id="searchNav" class="secondaryColor flexChild">
				<h1>Search &amp; naviagation</h1>
				<div id="seach">
					<form class="">
						<input type="search" name="fragmentSearch" value="" placeholder="Search Fragments">
						<input type="submit" name="searchFragments" value="Search">
					</form>
				</div>
				<nav id="docNav">
					In document navigation
				</nav>
			</div>

			<div class="toggle" data-elemId="searchNav" data-hidden=">>" data-visible="<<">
				<<
			</div>

			<div id="content" class="secondaryColor flexChild">
			</div>

			<aside id="transclusionData" class="secondaryColor flexChild">
				The transclusion data
			</aside>

			<div class="toggle" data-elemId="sidebar" data-hidden="<<" data-visible=">>">
				>>
			</div>

			<div id="sidebar" class="secondaryColor flexChild">
				<h1>Plugins</h1>
				Sidebar with plugins
			</div>
		</main>

		<footer class="secondaryColor">
		</footer>
	</div>
</body>
</html>
